{% extends 'base.html.twig' %}
{% block title %}
    Dashboard | {{ app.user.firstname }}
{% endblock %}
{% block body %}
    {% include 'main/base/sidebar.html.twig' %}
    {% include 'main/base/nav.html.twig' %}

    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mb-4 mt-1">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <h4 class="font-weight-bold">
                            Aperçu                        
                        </h4>                  
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                        {{ include('main/developer_view/_card_bug.html.twig') }}
                    {% else %}
                        <span>
                            Page  en cours de construction. Arrivera très prochainement.
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    <!-- Page end  -->
    </div>
    <div class="modal" id="reportBugModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Modal -->
                <div class="modal-header">
                    <h5 class="modal-title">
                        Rapporter un bug
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body" id="reportBugBody"></div>
            </div>
        </div>
    </div>
</div>

{% include 'main/base/footer.html.twig' %}
{% endblock %}