.no-padding>td {
    padding: 1px !important;
}

.add {
    cursor: pointer;
}

.delete {
    cursor: pointer;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}